
{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}
    {% if add_inventory %}
        Add inventory
    {% else %}
        Edit inventory
    {% endif %}
{% endblock %}

{% block head %}
  <link type="stylesheet" href="{{ url_for('static', filename='css/bootstrap-datetimepicker.min.css') }}">
{% endblock %}

{% block body %}
<div class="content-section">
 <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="center">
            {% if add_inventory %}
                <h1>Add inventory</h1>
            {% else %}
                <h1>Edit inventory</h1>
            {% endif %}
            <br/>
            {{ super() }}
            {{ wtf.quick_form(form) }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<!--
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
-->
  <script type="text/javascript">
    $(function () {
      $('#datepick').datepicker();
    });
  </script>
{% endblock %}
