<!DOCTYPE html>
<html lang="en">
<head>

    <title>{{ title }} | WareHouse</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
{% if current_user.is_authenticated %}
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
{% endif %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/jquery-ui/jquery-ui.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui/jquery-ui.js') }}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">Balikpapan WareHouse</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('search.inventory') }}">Search</a></li>
                {% if current_user.is_authenticated %}
                  {% if current_user.is_admin %}
                    <li><a href="{{ url_for('admin.list_inventory') }}">Inventory</a></li>
                    <li><a href="{{ url_for('admin.list_alamat') }}">Alamats</a></li>
                    <li><a href="{{ url_for('admin.users') }}">Users</a></li>
                  {% endif %}
                  {% if current_user.nama == 'Gudang_BPPN' %}
                    <li><a href="#">Pengambilan Barang</a></li>
                  {% endif %}
                  <li><a href="{{ url_for('home.req_barang') }}">Permintaan Barang</a></li>
                  <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                  <li><a href="{{ url_for('auth.update_user') }}">[ {{ current_user.nama }} ]</a></li>
                {% else %}
                  <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                  <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
              </ul>
          </div>
        </div>
    </nav>
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                    {% if current_user.is_authenticated %}
                      <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
                      <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                        <li class="footer-menu-divider">⋅</li>
                        <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                        <li class="footer-menu-divider">⋅</li>
                        <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                    {% endif %}
                    </ul>
                    <p class="copyright text-muted small">GudangIsatBppn v0.1 (Alpha)<br />
                      Copyright © 2018. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    {% block scripts %}
    {% endblock %}
</body>
</html>
